<div style="display: flex; justify-content: center; margin: 20px;">
    <div class="card-container">
    <div class="card-image">
        <img src="https://raw.githubusercontent.com/vmware-tanzu-learning/spring-academy-assets/main/courses/course-spring-brasb-build-a-rest-api/course-brasb-thumbnail-large.png" alt="">
    </div>
    <!-- <div class="card-top-icon"></div> -->
    <div class="card-body">
        <div class="categories">
            <span>Spring</span>
            <span>Java</span>
            <span>Html</span>
            <span>Mongodb</span>
            <span>Mysql</span>
            <span>Angular</span>
            <span>Ts</span>
            <span>Js</span>
        </div>
        <h2 class="title">Sistema de administarción para una tienda</h2>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, amet. Accusantium ipsa, tempora pariatur fugit libero aliquam non id officiis debitis, commodi veritatis corrupti? Nisi doloribus temporibus ipsa quis suscipit.</p>
        </div>
        <div class="link">
            <a href=""><span>Ver proyecto</span><span><mat-icon style="margin-top: 5px;">arrow_forward</mat-icon></span></a>
        </div>
    </div>
    <div class="card-footer">
        <div class="actions">
            
            <button mat-raised-button >Detalles</button>
            <button mat-button><i class="fa-brands fa-github" style="font-size: 24px;"></i></button>
        </div>
        <div class="time">
            <mat-icon style="font-size: 24px;">query_builder</mat-icon>
            <span>1h 30m</span>
        </div>
        
    </div>
</div></div>

