<owl-carousel-o [options]="optionsCarousel!">
  @if (type==="best") {
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-best-proyect-card class="product-box-prueba"></app-best-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-best-proyect-card class="product-box-prueba"></app-best-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-best-proyect-card class="product-box-prueba"></app-best-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-best-proyect-card class="product-box-prueba"></app-best-proyect-card>
    </ng-template>
  }
  @if (type === "normal" || type == undefined) {
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-proyect-card class="product-box-prueba"></app-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-proyect-card class="product-box-prueba"></app-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-proyect-card class="product-box-prueba"></app-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-proyect-card class="product-box-prueba"></app-proyect-card>
    </ng-template>
    <ng-template carouselSlide class="products-wrapper-prueba">
      <app-proyect-card class="product-box-prueba"></app-proyect-card>
    </ng-template>
  }
    
</owl-carousel-o>




