<div style="display: flex; justify-content: center; width: 100%;">
  <div class="slider-proyect">
    <div class="proyect">
      <div class="description">
        <div class="corp">
          <div class="categories-container">
            <span>Java</span>
            <span>Spring</span>
            <span>Oauth2</span>
            <span>JWT</span>
            <span>JavaMail</span>
            <span>Hibernate</span>
            <span>Angular</span>
            <span>MongoDB</span>
            <span>TS</span>
            <span>JasperReport</span>
            <span>Angular Material</span>
            <span>CSS</span>
            <span>HTML</span>
          </div>
          <h3 class="title">Sistema de administracion</h3>
          <p class="description-parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Voluptatibus provident magni, corrupti tenetur quo excepturi.</p>
        </div>
        <div class="type-time">
          <div class="industria">
            <span>Industria:</span>
            <span>UX/UI</span>
          </div>
          <div class="year">
            <span>Year:</span>
            <span>2002</span>
          </div>
        </div>
        <button mat-flat-button>Ver caso</button>
      </div>
      <div class="image">
        <img src="https://miltoncoronelsoftware.netlify.app/assets/blooddonors-cc5743b7.jpg" alt="">
      </div>
    </div>

</div>
